<mat-toolbar class="header">
    <div>
        <span class="logo">Logotype</span>
    </div>
    <nav class="navigation">
        <button mat-button color="primary">Home</button>
        <button mat-button color="primary">Products</button>
        <button mat-button color="primary">Download</button>
        <button mat-button color="primary">Store</button>
        <button mat-button color="primary">Contact Us</button>
    </nav>
    <button mat-flat-button color="primary">Log in</button>
</mat-toolbar>